.navbar {
  background: #2e158c;
}
.brand,
.list-item {
  color: #fff !important;
}
.list-item {
  display: flex !important;
  justify-content: space-around !important;
  font-weight: 500;
}
.list-item:hover {
  color: tomato !important;
}
